[core]
        autocrlf = false
        excludesfile = gitignore_global
[push]
        default = upstream
[gui]
        encoding = utf-8
[difftool "code"]
        cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
[mergetool "code"]
        cmd = code --wait \"$MERGED\"
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
