[core]
    autocrlf = false
    excludesfile = gitignore_global
    editor = vim
[push]
    default = upstream
[gui]
    encoding = utf-8
[difftool "code"]
    cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
[mergetool "code"]
    cmd = code --wait \"$MERGED\"
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[credential "https://git-codecommit.ap-northeast-1.amazonaws.com"]
    provider = generic
[user]
    email = m.kajiya@datumstudio.jp
    name = m-kajiya-ds
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
